@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #530000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Jura', sans-serif;
    overflow-x: hidden;
}

.nav{
    z-index: 998;
    display: flex;
    position: fixed;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    padding: .5rem;
    background-color: transparent;
    transition: all 400ms ease;
}

.scrolled{
    background-color: var(--main-color);
}

.scrolled-letter{
    color: #fff;
}

.logo-name{
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-el > a {
    font-size: 2rem;
}

.nav-el:not(.lettter){
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}

.lettter:not(.scrolled-letter){
    color: var(--main-color);
    background-color: transparent;
}

.lettter{
    transition: color 400ms ease;
}

a{
    all: unset;
    cursor: pointer;
}

.landing-page{
    height: 100vh;
    width: 100%;
    background-image: url('/assets/1LOzdjecie.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5rem;
}

.hero-text{
    font-size: 4rem;
    color: #fff;
    font-weight: 900;
}

.button{
    display: flex;
    padding: .5rem;
    /*background-color: #660101;*/
    background-color: var(--main-color);
    font-size: 3rem;
    width: 25rem;
    border-radius: 5rem;
    justify-content: center;
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
    position: relative;
    transition: transform 200ms ease;
}

.button span{
    transition: transform 200ms ease;
}

.button::after{
    content: ">";
    position: relative;
    transition: transform 200ms ease;
}

.button:hover::after{
    transform: translateX(1rem);
}

.button:hover span{
    transform: translateX(-1rem);
}

/* Kontakt */

form{
    background-color: rgb(61, 61, 61);
    padding: 2rem 3rem;
    border-radius: 50px;
    background: linear-gradient(225deg, #cacaca, #f0f0f0);
    box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.contact{
    padding: 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.text{
    resize: none;
}

form > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    all: unset;
    position: relative;
    width: 100%;
}

input:not(.submit){
    padding: 2rem;
    width: 100%;
    border-radius: 50px;
    background: #383838 !important;
    box-shadow: inset 22px -22px 44px #303030, inset -22px 22px 44px #404040;
}

input:not(.submit)::after{
    content: '';
    width: 20px;
    height: 20px;
    color: #000;
    bottom: 0;
}

input:not(.submit):-internal-autofill-selected{
    background: #ffffff00 !important;
}

label{
    margin: .5rem 0 .5rem 2rem;
}

textarea{
    all: unset;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 50px;
    padding: 2rem;
    width: 100%;
}

.submit{
    all: unset;
    color: #000;
    width: 6rem;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    overflow: hidden;
    position: relative;
}

.submit::before{
    content: ">";
    font-size: 1.5rem;
    transition: transform 600ms ease;
}

.submit:hover::before{
    transform: translateX(20rem);
}

.submit::after{
    content: "<";
    font-size: 1.5rem;
    transition: transform 600ms ease;
}

.submit:hover::after{
    transform: translateX(-20rem);
}


.on-load{
    overflow-y: hidden;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: land;
    animation-duration: 600ms;
    animation-delay: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.on-load > img{
    width: 600px;
    height: 200px;
}


/*
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080
*/

/* RESPONSIVE BREAK POINTS */
@media screen and (max-width: 660px) {
    .on-load > img{
        width: 300px;
        height: 100px;
    }
}

@media screen and (max-width: 550px) {
    .contact{
        padding: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .landing-page{
        padding-left: 3rem;
    }
    
    .hero-text{
        font-size: 3rem;
        color: #fff;
        font-weight: 900;
    }
    
    .button{
        font-size: 2rem;
        width: 20rem;
    }
    
}


@media screen and (max-width: 400px){
    .nav{
        z-index: 998;
        display: flex;
        position: fixed;
        width: 100%;
        list-style: none;
        justify-content: space-evenly;
        padding: .5rem;
        transition: background-color 400ms ease;
    }
    
    .logo-name{
        font-size: 2rem;
        font-weight: 900;
    }

    .nav-el > a {
        font-size: 1.5rem;
    }

    .contact{
        padding-left: 1rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .landing-page{
        padding-left: 0;
    }
}


/* Laptop */
@media screen and (min-width: 1366px) {

}

/* Tablet */

@media screen and (min-width: 768px) {
    
}

/* Telefon */

@media screen and (min-width: 375px) {
    
}

/* ======================= */

@keyframes land {
    0%{
        top: 0;
    }
    100%{
        top: -100vh;
    }
}
